


{{ template "admin_app" . }}


        <div class="p-6 bg-gray-100 mb-20">
          <div class="py-12">


            <div  class="relative overflow-x-auto shadow-md sm:rounded-lg">
               <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                      <th scope="col" class="px-6 py-3">
                        RoleName
                      </th> 
                      <th scope="col" class="px-6 py-3">
                        Path
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Method
                      </th>
                      <th scope="col" class="px-6 py-3">
                      <span class="sr-only">Delete</span>
                      </th>
                    </tr>
                </thead>
                <tbody>

               {{ range .list }}

                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                      {{ .RoleName }}
                    </th> 
                    <td class="px-6 py-4">
                      {{ .Path }}
                    </td>
                    <td class="px-6 py-4">
                      {{ .Method }}
                    </td>
                    <td class="px-6 py-4 text-right">

                      <a href="/role/list/{{.ID}}/delete" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" >Delete</a>
                    </td>
                </tr>

               {{ end }}

              </tbody>
          </table>
        </div>
      </div>
    </div>


{{ template "admin_footer"  }}
