{{ template "app" . }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Add Casbin role</div>

                <div class="card-body">
                    <form method="POST" action="/role/post_add">
                        


                        <div class="form-group row">
                            <label for="rolename" class="col-md-4 col-form-label text-md-right">Role name</label>

                            <div class="col-md-6">
                                <input id="rolename" type="text" class="form-control" name="rolename" required autocomplete="rolename" autofocus>

  
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="path" class="col-md-4 col-form-label text-md-right">Path</label>

                            <div class="col-md-6">
                                <input id="path" type="text" class="form-control" name="path" required autocomplete="path">

       
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="method" class="col-md-4 col-form-label text-md-right">Method</label>

                            <div class="col-md-6">
                                <input id="method" type="text" class="form-control" name="method" required autocomplete="method">

  
                            </div>
                        </div>

                        <input type="hidden" name="_csrf" value="{{.csrf}}">

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">

                                <button type="submit" class="btn btn-primary">
                                    ADD
                                </button>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer"  }}