{{ template "app" . }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Dashboard Role list</div>

                <div class="card-body">
                  <a class="btn btn-primary" href="/role/add" role="button">Add Role</a>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>RoleName</th>
                            <th>Path</th>
                            <th>Method</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{ range .list }}
                          <tr>
                            <td>{{ .RoleName }}</td>
                            <td>{{ .Path }}</td>
                            <td>{{ .Method }}</td>
                            <td><a href="/role/list/{{.ID}}/delete">Delete</a>    
                         </td>


                          </tr>
                        {{end}}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer"  }}
