{{ template "app" . }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Forgot password</div>

                <div class="card-body">
                    <form method="POST" action="/login/post_add">

			    <p>To reset your password, enter your username or email address below. If your account is in the database, an email will be sent to your email address containing instructions on how to restore access.</p>
                          
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">

                                <input id="email" type="email" class="form-control" name="email" required autocomplete="email" autofocus>

       
                            </div>
                        </div>


                        <input type="hidden" name="_csrf" value="{{.csrf}}">

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">

                                <button type="submit" class="btn btn-primary">
                                    Send
                                </button>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer"  }}
