{{ template "app" . }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Dashboard Users list</div>

                <div class="card-body">
                  <a class="btn btn-primary" href="/users/add" role="button">Add User</a>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{ range .list }}
                          <tr>
                        
                            <td>{{ .Name }}</td>
                            <td>{{ .Email }}</td>
                            <td>{{ .Role }}</td>
                            <td><a href="/users/list/{{.Name}}">Edit</a></td>
                            <td><a href="/users/list/{{.Name}}/delete">Delete</a>    
                         </td>


                          </tr>
                        {{end}}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer"  }}