Description="secure app key | base64"

APP_KEY=8VcWJmvuBy7i52ZdX+bOFdzSVB9ujmPRMtzRgJkkBlM=
APP_KEYS="${APP_KEY}"

Description="database settings in file /config/Database.go and /config/CasbinRole.go | default database mysql"

WWWROOT="http://example.com"

Description="switch vue (default) | html (template customize file main.go as well /resources/views/_admin_app.html and resources/views/_public_app.html)"

TEMPLATE="vue"
 
DB_HOST="localhost"
DB_PORT="3306"
DB_DATABASE="larago"
DB_USERNAME="larago"
DB_PASSWORD="larago"

MAIL_HOST="smtp.example.com"
MAIL_PORT="587"
MAIL_USERNAME="example"
MAIL_PASSWORD="example"
MAIL_ENCRYPTION="true"


PORT=":8093"

SESSION_NAME="larago"

REDIS_HOST="localhost"
REDIS_PASSWORD=""
REDIS_PORT="6379"
REDIS_SECRET="${APP_KEY}"

